* {
  margin: 0;
  padding: 0;
}

body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.panel {
  z-index: 1;
  padding: 10px;
  background: rgba(255, 154, 154, 0.10);
  box-shadow: 0 8px 32px 0 pink;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
  margin-top: 300px;

}


.panel h2 {
  padding: 30px 30px 10px;
  font-family: times;
  font-size: 15px;
  color: #fff;
  line-height: 10px;
  
}

.panel h1 {
  padding: 30px 30px 10px;
  font-family: times;
  font-size: 25px;
  color: #fff;
  line-height: 10px;

}



